.hero-section {
  background: linear-gradient(180deg, #003366 0%, #004080 100%);
  color: #ffffff;
  padding: 140px 10px;
  padding-bottom: 30px;
  position: relative;
  overflow: hidden;
  width: 100vw;
  border-bottom-left-radius: 120px;
  margin-top: -10px;
  
}
.hero-text {
  text-align: left;   
  padding-left: 0;     
  margin-left: 0;      
}


.hero-text h1 {
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 30px;
}

.hero-text .highlight {
  color: #ffffff;
}
.hero-text {
  padding-right: 20px;
}

.hero-list {
  font-size: 2.2rem;
  list-style: none;
  padding-left: 0;
  margin-bottom: 30px;
}

.hero-list li {
  font-size: 1.9rem;
  font-weight: 500;
  margin-bottom: 14px;
  display: flex;
  align-items: center;
}


.enroll-btn {
  background-color: #0099cc !important; 
  border: none !important;
  padding: 16px 48px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 1.4rem;
  transition: all 0.3s ease;
  margin-top: 20px;
  margin-left: 60px;
}
.enroll-btn:hover {
  background-color: #0099cc !important;
  transform: scale(1.05);
}

.hero-image {
  max-width: 130%;       
  height: auto;
  border-radius: 8px;
  display: block;
  position: relative;
  left: 80px;            
  transition: all 0.3s ease;
}

.hero-image-shift {
  max-width: 95%;          
  position: relative;
  right: 0px;           
  border-radius: 8px;
  transition: all 0.3s ease;
}
.hero-image-spacing {
  max-width: 90%;        
  margin-left: -10px;     
  border-radius: 8px;
  margin-left: 60px;
}


.hero-image-col {
  padding-left: 0 !important; 
}

@media (max-width: 768px) {
  .hero-text h1 {
    font-size: 2rem;
    text-align: center;
  }

  .hero-list {
    text-align: center;
  }

  .enroll-btn {
    display: block;
    margin: 0 auto;
  }
}
