

 .hero-slider {
  background: #ffffff;
  padding: 100px 0;
  position: relative;
  overflow: hidden;
  width: 95vw;
  
}


.text-section {
  position: relative;
}

.text-content h1 {
  font-size: 48px;
  font-weight: 700;
  line-height: 1.3;
  color: #1e1e1e;
  text-align: left;
  margin-left: 50px ;
}

.text-content .highlight {
  color: #007bff;
}


.dot-pattern {
  position: absolute;
  width: 200px;
  height: auto;
  bottom: -130px; 
  left: -60px;   
  opacity: 0.8;
  z-index: 0;
}


.slider-section {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-right: 70px;
  
  
  
}



.slide-card {
  background: #f5f5f5;
  border-radius: 25px;
  padding: 40px;
  position: relative;
  text-align: left;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  min-height: 320px;
  margin-left: auto;       
  margin-right: 10px;     
  
}

.slide-logo {
  width: 120px;
  margin-bottom: 15px;
}

.slide-card h4 {
  color: #1e1e1e;
  font-weight: 500;
  margin-bottom: 8px;
}

.highlight-text {
  color: #007bff;
  font-weight: 700;
}

.enroll-btn {
  background-color: #007bff;
  border: none;
  margin-top: 10px;
  border-radius: 6px;
  font-weight: 500;
  padding: 10px 22px;
}


.slide-img {
  position: absolute;
  right: 30px;
  top: 50%;
  transform: translateY(-50%);
  width: 35%;
  height: auto;
}


.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.55);
  border-radius: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.overlay-text {
  color: #ffffff;
  font-size: 32px;
  font-weight: 600;
}


.swiper-pagination-bullet {
  background: #007bff !important;
  opacity: 0.4;
}

.swiper-pagination-bullet-active {
  opacity: 1;
  width: 20px !important;
  border-radius: 10px !important;
} 









