.story-main-container {
  display: flex;
  width: 100%;
  background: #fff;
  padding: 30px 10vw 65px 10vw;
  align-items: flex-start;
  position: relative;
  gap: 34px;
  min-height: 440px;
}
.image-side {
  width: 400px;
  min-width: 280px;
  min-height: 370px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.story-bg-ring {
  position: absolute;
  top: 105px;
  left: 90px;
  width: 140px;
  z-index: 1;
  pointer-events: none;
  user-select: none;
}
.story-profile-img {
  position: absolute;
  top: 18px;
  left: 0px;
  width: 170px;
  /* height: 205px; */
  border-radius: 50%;
  object-fit: cover;
  border: 5px solid #fff;
  box-shadow: 0 4px 24px #195db518;
  z-index: 3;
}
.story-arrow-img {
  position: absolute;
  top: 80px;
  left: 250px;
  width: 38px;
  height: 65px;
  object-fit: contain;
  z-index: 4;
}
.story-plus-img {
  position: absolute;
  bottom: 75px;
  left: 18px;
  width: 31px;
  height: 68px;
  z-index: 10;
}

.story-content {
  flex: 1 1 520px;
  margin-left: 255px;
  margin-top: 100px;
 
}
.story-label {
  color: #0b60a1;
  font-weight: 700;
  letter-spacing: 2px;
  font-size: 1.5rem;
  margin-bottom: 12px;
  display: inline-block;
}
.story-title {
  font-size: 2.0rem;
  font-weight: 650;
  color: #0b2c4b;
  margin: 12px 0 22px 0;
  line-height: 1.13;
}
.story-p {
  font-size: 1.2rem;
  color: #72788a;
  font-weight: 400;
  line-height: 1.3;
  margin-bottom: 13px;
}

@media (max-width: 1100px) {
  .story-main-container {
    flex-direction: column;
    align-items: center;
    padding: 20px 2vw 50px 2vw;
    gap: 0;
  }
  .story-content {
    margin-left: 0;
    margin-top: 24px;
  }
  .image-side { width: 95vw; min-width: 0;}
}
@media (max-width: 700px) {
  .story-main-container { padding: 10px 2vw; }
  .story-title { font-size: 1.4rem;}
  .story-label { font-size: 1.05rem;}
  .story-p { font-size: 0.98rem;}
  .story-profile-img { width: 128px; height: 128px;}
  .story-bg-ring { width: 125px; top: 30px; left: 22px;}
  .story-arrow-img { width: 21px; height: 34px; left: 120px; top: 50px;}
  .story-plus-img { width: 22px; height: 27px;}
}
